
<div class="container">
  <div class="col-6 left">
    <h1>List of cocktails</h1>
  </div>

  <div class="col-6 cards">
    <% @cocktails.each do |cocktail| %>
      <!--<a href="<%= cocktail_path(cocktail) %>">-->
        <div class="card">
          <img src="https://source.unsplash.com/300x300/?cocktail" alt="cocktail image">
          <div class="cocktail-name">
            <p><%= link_to cocktail.name, cocktail_path(cocktail) %></p>
          </div>
        </div>
        <!--</a>-->
    <% end %>
    <p class="link"><%= link_to "new cocktail", new_cocktail_path %></p>
  </div>
</div>
