
<div class="container">
  <div class="col-6 left">
    <h1>List of cocktails</h1>
  </div>

  <div class="col-6 cards">
    <% @cocktails.each do |cocktail| %>

          <div class="card" style="background-image: url('<%= cl_image_path cocktail.photo %>')">
            <div class="cocktail-name">
              <p><%= cocktail.name%></p>
            </div>
            <%= link_to "", cocktail_path(cocktail), class: 'card-link' %>
          </div>


    <% end %>
    <p class="link"><%= link_to "new cocktail", new_cocktail_path %></p>
  </div>

</div>
