.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.card {
  background-size: cover !important;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column-reverse;

}

.cocktail-name {
  display: flex;
  justify-content: center;
  background-color: white;
  opacity: 0.5;
  margin: 10px;

  p {
    text-align: center;
    padding-top: 5px;
  }
}

li {
  display: inline-block;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
